.hover_text {
    position: relative;
}

.hover_text::after, .hover_text::before {
    content: "";
    height: 0.15em;
    width: 0%;

    background-color: var(--secondary-color);
    border-radius: 30%;
    position: absolute;
    transition: 300ms;
}

.hover_text::after {
    bottom: 0;
    left: 0;
}

.hover_text::before {
    top: 0;
    right: 0;
}

.hover_text:hover::after, .hover_text:hover::before {
    width: 100%;
}

.hover_text:hover {
    color: var(--accent-color);
}