@import "animations.css";

main {
    width: 100vw;
    height: 90vh;
    position: relative;

    display: flex;
    justify-content: space-around;
}

main div {
    display: flex;
    flex-direction: column;

    text-align: center;
}

main div h1 {
  animation: 1s ease-in-out fadeInStatic;
}

main div p {
  animation: 2s ease-in-out fadeInStatic;
}

@media screen and (min-width: 1025px) {
    main div {
        width: 45vw;
    }

    main div h1 {
        margin: 1rem 0rem 1rem 0rem;
    }

    main div p {
        margin: 0rem 0rem 2rem 0rem;
    }
}

@media screen and (min-width: 769px ) and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    main {
        height: fit-content;
        flex-direction: column;
    }
    
    main div h1 {
        margin: 0.5rem 0rem 0.5rem 0rem;
    }

    main div p {
        margin: 0rem 0rem 2rem 0rem;
    }
}