#menu_dropdown {
    position: relative;
    display: inline-block;
}

#menu_dropdown_content {
    display: none;
    position: absolute;
    background-color: var(--terciary-color);

    z-index: 1;

    box-shadow: 0em 0em 1em 0.5em indigo;
    border-radius: 0.5em;
}

#menu_dropdown_content a {
    display: block;
    margin: 0em;
    padding: 0.5em 0.5em;
}